section.achieve
	.section__bg
		.achieve__cards 
			.card__item.card--withline1
				.card__info
					img.card__img(src="../img/cloud.svg", alt="")
					div.card__number 250k
					p.card__descrip.desc--width App Download
			.card__item.card--withline2
				.card__info
					img.card__img(src="../img/cloud.svg", alt="")
					div.card__number 100k
					p.card__descrip Active Users
			.card__item.card--withline3
				.card__info
					img.card__img(src="../img/cloud.svg", alt="")
					div.card__number 20+
					p.card__descrip Beat Awards
			.card__item
				.card__info
					img.card__img(src="../img/cloud.svg", alt="")
					div.card__number 95%
					p.card__descrip Happy Users