section.download-section
	.section__bg
		.download__info
			h2.downoload__title.text--white Now Appnest avaliable Get This App Now
			p.downoload__descrip.text--white It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout. As opposed it conten making it look like readable English.
			.bu
				button.downoload__btn.downoload__btn--apple
					img.app-logo(src="../img/logo/apple-white.svg", alt="")
					.btn__text 
						a.btn__link.btn__link--green(href="#")  downoload from 
							br
							span.btn__link--green.app apple store
				button.downoload__btn.downoload__btn--white
					img.app-logo(src="../img/logo/playstore-white.svg", alt="")
					.btn__text
						a.btn__link.text--white(href="#")  downoload from 
							br
							span.btn__link.text--white.app play store


		.download__image
			img.downoload__img(src="../img/app__images.png", alt="")
				