section.feature
	.container
		.feature__content
			.feature__img--box
				img(src="../img/phones.png", alt="" class="feature__img")
			.feature__info
				h2.section__title App Core 
					span.title--blue Features
				p.section__descrip It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout.
				ul.feature__list 
					li.feature__list--item
						img.feature__list--img(src="../img/list/diamond.svg", alt="")
						h3.feature__list--title Premium quality
						p.feature__list--text Lorem has survived not only five to but also the leap.
					li.feature__list--item
						img.feature__list--img(src="../img/list/folder.svg", alt="")
						h3.feature__list--title Retina Ready
						p.feature__list--text Lorem has survived not only five top itypesetting changed.
					li.feature__list--item
						img.feature__list--img(src="../img/list/scan.svg", alt="")
						h3.feature__list--title Top Class Security
						p.feature__list--text Lorem has survived not only five to but also the leap.
					li.feature__list--item
						img.feature__list--img(src="../img/list/time.svg", alt="")
						h3.feature__list--title Excellent Support
						p.feature__list--text Lorem has survived not only five top itypesetting changed.


