section.feedback
	.container.feadback__container
		.feadback__head
			h2(class='section__title section__title--center')
				| Clients
				span.section__title.title--blue  Feedback 
			p(class='section__descrip section__descrip--center')
				| It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout
		.slideshow-container
			.fade.feadback__slide
				.slide__author
					img.slide__author--img(src="../img/clients/client1.jpg", alt="")
				h3.slide__title.title--blue Robert Colin
				div.slide__under--title Repto inc
				p.slide__text Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.
				div.slide__stars 
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
			.fade.feadback__slide
				.slide__author
					img.slide__author--img(src="../img/clients/client2.jpg", alt="")
				h3.slide__title.title--green Hurry Cane
				div.slide__under--title Microsoft
				p.slide__text Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.
				div.slide__stars 
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
			.fade.feadback__slide
				.slide__author
					img.slide__author--img(src="../img/clients/client3.jpg", alt="")
				h3.slide__title.title--blue Silve Adams
				div.slide__under--title Quark inc
				p.slide__text Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.
				div.slide__stars 
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
					img(src="../img/logo/star.svg", alt="")
			
			
		br
		div(style='text-align: center')
			span.dot(onclick='currentSlide(1)')
			span.dot(onclick='currentSlide(2)')
			span.dot(onclick='currentSlide(3)')