header.header
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet' href='../css/main.css')
  body
    .wrapper.bg
      .container
        .header
          .logo
            img(src='../img/logo.svg' alt='')
          .nav
            a(href='#') home
            a(href='#') feature
            a(href='#') pricing
            a(href='#') team
            a(href='#') blog
            a(href='#') cntact
          .btn
            a(href='#' class='header_btn') Get the app
        .banner
          div(class='banner_info')
            h1 
              span Appnest Best Mobile
              br
              | App Landing Page
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco labaris nisi ut aliquie ex ae commado consequat
            div(class='banner_btn')
              a(href='#' class='green_btn') Download from Apple Store
              a(href='#' class='btn_classic') Download from Play Store
          div(class='banner_img')
            img(src='../img/iphone.png' alt='')
