section.news.container
      div(class='news_title')
        h1 Recent
          span News
        p It is a long established fact that a reader will be distracted 
      div(class='cards_grid')
        div(class='card_news')
          img(src='../img/news/news1.jpg' alt='')
          h1 Exclusive Post For You
          span Posted By : Admin   |   07 Sep, 2018
          p Ut enim ad minim veniquis nostrud lieon tear exercitation ullam
          a(href='#') Read More >
        div(class='card_news')
          img(src='../img/news/news2.jpg' alt='')
          h1 Exclusive Post For You
          span Posted By : Admin   |   07 Sep, 2018
          p Ut enim ad minim veniquis nostrud lieon tear exercitation ullam
          a(href='#') Read More >
        div(class='card_news')
          img(src='../img/news/news3.jpg' alt='')
          h1 Exclusive Post For You
          span Posted By : Admin   |   07 Sep, 2018
          p Ut enim ad minim veniquis nostrud lieon tear exercitation ullam
          a(href='#') Read More >