section.overview
	.container 
		ul(class='overview__list')
			li(class='list__item')
				div(class='list__img-box')
					img(class='list__img' src='../img/list/list (1).svg' alt='')
				h3(class='list__title') Clean Design
				p(class='list__text') Lorem has survived not only five top centuries, but also the leap intoelect.
			li(class='list__item')
				div(class='list__img-box')
					img(class='list__img' src='../img/list/list (2).svg' alt='')
				h3(class='list__title') User friendly
				p(class='list__text') Lorem has survived not only five top centuries, but also the leap intoelect.
			li(class='list__item')
				div(class='list__img-box')
					img(class='list__img' src='../img/list/list (3).svg' alt='')
				h3(class='list__title') Easy to use
				p(class='list__text') Lorem has survived not only five top centuries, but also the leap intoelect.
			li(class='list__item')
				div(class='list__img-box')
					img(class='list__img' src='../img/list/list (4).svg' alt='')
				h3(class='list__title') Branding
				p(class='list__text') Lorem has survived not only five top centuries, but also the leap intoelect.
