section.pricing
  div(class='prising_title')
    h1 Pricing 
      span.title--blue Table
    p It is a long established fact that a reader will be distracted its by the 
      br
      | readable content jf a page when at its layot
    div(class='year_month')
      a(href='#' class='month_bg') Month
      a(href='#' class='year_bg') Year
    div(class='card_grid container')
      .card
        h1 Starter
        h2 $50 
          br
          span.period Monthly
        ul.list
          li 10 GB file storage
          li 10 Workspaces
          li Enhanced Security
          li 20 Projects 
          li Premium support
        div(class='btn_card')
          a(href='#') Sign Up Now
      .card
        h1 Professional
        h2 $150 
          br
          span.period Monthly
        ul.list
          li 10 GB file storage
          li 10 Workspaces
          li Enhanced Security
          li 20 Projects 
          li Premium support
        div(class='btn_card')
          a(href='#') Sign Up Now
      .card
        h1 Premium
        h2 $250 
          br
          span Monthly
        ul.list
          li 10 GB file storage
          li 10 Workspaces
          li Enhanced Security
          li 20 Projects 
          li Premium support
        div(class='btn_card')
          a(href='#') Sign Up Now