section.screenshot
	.container.screenshot__container
		.screenshot__head 
			h2.section__title.section__title--center Awesome
				span.section__title.title--blue  Screenshots
			p(class='section__descrip section__descrip--center')
				| It is a long established fact that a reader will be distracted its by
				| the readable content of a page when at its layout.
		.slideshow-container
			.mySlides.fade.slide
				div(class='screenshot__box screenshot__box--active')
					img(class='screenshot__img' src='../img/app_blue.jpg')
					span.plus
				div(class='screenshot__box screen')
					img(class='screenshot__img' src='../img/app_green.jpg')
				div(class='screenshot__box screen')
					img(class='screenshot__img' src='../img/app_orange.jpg')
			.mySlides.fade.slide
				div(class='screenshot__box screen')
					img(class='screenshot__img' src='../img/app_blue.jpg')
				div(class='screenshot__box screenshot__box--active')
					img(class='screenshot__img' src='../img/app_green.jpg')
					span.plus
				div(class='screenshot__box screen')
					img(class='screenshot__img' src='../img/app_orange.jpg')
			.mySlides.fade.slide
				div(class='screenshot__box screen')
					img(class='screenshot__img' src='../img/app_blue.jpg')
				div(class='screenshot__box screen')
					img(class='screenshot__img' src='../img/app_green.jpg')
				div(class='screenshot__box screenshot__box--active')
					img(class='screenshot__img' src='../img/app_orange.jpg')
					span.plus
		br
		div(style='text-align: center')
			span.dot(onclick='currentSlide(1)')
			span.dot(onclick='currentSlide(2)')
			span.dot(onclick='currentSlide(3)')
