section.screenshot
	.container.screenshot__container
		h2.section__title.section__title--center Awesome 
			span.title--blue Screenshots
		p.section__descrip.section__descrip--center It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout.
		.screenshot__block
			.screenshot__box
				img.screenshot__img(src="../img/app_blue.jpg", alt="")
			.screenshot__box.screenshot__box--active
				img.screenshot__img(src="../img/app_green.jpg", alt="")
				span.plus 
			.screenshot__box
				img.screenshot__img(src="../img/app_orange.jpg", alt="")