
section.video
	.downoload 
		h2.downoload__title App Overview For 
			|Easy 
			span.downoload__title--blue Understanding
		p.downoload__descrip It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout. As opposed it conten making it look like readable English.
		.buttons
			button.downoload__btn
				img.app-logo(src="../img/logo/apple.svg", alt="")
				.btn__text 
					a.btn__link.btn__link--white(href="#")  downoload from 
						br
						span.btn__link--white.app apple store
			button.downoload__btn
				img.app-logo(src="../img/logo/playstore.svg", alt="")
				.btn__text
					a.btn__link(href="#")  downoload from 
						br
						span.btn__link.app play store

	.video-block 
		img.video-block__img(src="../img/video_poster.jpg", alt="")



