
.overview{
	background-color: #FBFBFB;
}
.overview__list{
	@include list_reset;
	min-height: 30rem;
	margin-top: auto;
	margin-bottom: auto;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 25px;
}
@include media(820px){
	.overview__list{
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
}
@include phone{
	.overview__list{
		display: grid;
		grid-template-columns: 1fr;
	}
}
.list__item{
	@extend %flex_center;
	flex-direction: column;
}
.list__img{
	@include img-fit(100%);
	border:1px solid #c9c9c9;
	border-radius: 50%;
	background-color: #fff;
	padding:1.25rem;
}
.list__title{
	font-size: 18px;
	line-height: 8px;
	color: #414040;
	font-family: "Poppins";
	text-align: center;
}
.list__text{
	max-width: 16.875rem;
	font-size: 15px;
	line-height: 24px;
	color: #575757;
	font-weight: 400px;
	font-family: "Poppins";
	text-align: center;
}