.video{
	max-width: 100%;
	display: flex;
	padding: 5rem 0;
	background-color: #fbfbfb;
}
.downoload{
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin-left:auto;
	max-width: 505px;
	padding:0 1rem;
	&__title{
		max-width: 380px;
	}
}

.buttons{
	display: flex;
}
.downoload__btn{
	border-radius: 7px;
	padding: 10px;
	display: flex;
	margin-left: 1rem;
	background-color: transparent;
	border: 1px solid black;
}
.downoload__btn:nth-child(1){
	margin: 0;
	background-color: #24c657;
	border: none;
}
.btn__text{
	max-width: 100px;
}
.btn__link{
	text-transform: uppercase;
	font-size: 9px;
	line-height: 8px;
	font-weight: 300px;
	text-decoration: none;
	font-family: "Poppins";
	color: black;
	&--white{
		color: white;
	}
}
.app{
	text-transform: uppercase;
	font-size: 14px;
	word-spacing: 2px;
	font-weight: bold;

}
.app-logo{
	vertical-align: middle;
	margin-right: 12px;
	object-fit: cover;
}
.video-block{
	margin-left: auto;
	min-width: 760px;
	max-height: 400px;
	position: relative;
	&__img{
		width: 100%;
		height: 350px;
		object-fit: cover;
	}
}
.video-block::after{
	content: "";
	background: #24c6577e;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
@include media(920px){
	.video{
		display:block ;
	}
	.video-block{
		max-width: fit-content;
		max-height: 350px;
		margin:3rem 1rem 3rem 1rem;
		&__img{

		}
	}

	.downoload{
		display: flex;
		justify-content: start;
		align-items: start;
		margin-left:10px;
	}
}
@include media(600px){
	.downoload{
		margin: 0 auto;
	}
}
@include phone{
	.downoload__title{
		font-size: 26px;
		line-height: 30px;
	}
	.video-block{
		max-width: 90vw;
		height: auto;
	}
	.downoload__descrip{
		font-size: 15px;
		word-spacing: 0;
	}
}
@include media(400px){
	.buttons{
		display: block;
	}

	.downoload__btn{
		margin: 0;
		margin-top: 10px;
	}
}